@{
    ViewData["Title"] = "Home Page";
}
@using dotNetMvcCourse.Controllers
@model dotNetMvcCourse.Models.AccountingListModel

<div class="text-center accountingSubmitForm">
    @await Html.PartialAsync("_AccountingSubmitFormPartialView")
</div>

<div class="text-center accountingList">
   @await Html.PartialAsync("_AccountingListPartialView", Model.AccountingModels)
</div>